<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket IO</title>
    <script src="socket.io/socket.io.js"></script>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        // lien ket server

        var socket = io("http://localhost:3000");
        $(document).ready(function () {
            // alert("hellooo");
            $("#mrA").click(function(){
                // alert("1");
                socket.emit("Client-send-data","HELLO");
            });
        });
    </script>
</head>

<body>
    <div id="mrA">Click Send</div>
</body>

</html>